header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

header nav {
    display: none;
}

.logo{
    width: 68px;
    height: 64px;
}

.menu {
    margin-top: 10px;
}

.menuImg {
    width: 30px;
    margin-left: 32px;
    margin-top: 20px;
}