.hero-img {
  height: 400px;
  width: 100%;
  background: url(/img/hero-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h2 {
  margin: 0px;
  padding: 88px 60px;
  font-weight: var(--text-weight);
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(/img/hero-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(/img/hero-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
  
}
