@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #0000;
    
    --butoon-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    MENU USA 500
    FOOTER USA 400
    
}

body,img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

